body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
}

header {
    background: #e1c4ff;
    color: black;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #35424a; /* Dark purple text */
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-category {
    margin: 15px 0;
}

h1, h2, h3 {
    color: #black;
}

h2 {
  border-bottom: 2px solid #7e57c2; 
  border-right: 2px solid #7e57c2;
}
a {
    color: black; /* Purple links */
}

a:hover {
    text-decoration: underline;
    color: blue; /* Darker purple on hover */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 1em;
    justify-content: center; /* Center the grid items */
    padding: 0 20px; /* Add horizontal padding to the container */
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the grid container */
}

.grid-item {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item img {
    max-width: 100%; /* Images should not exceed container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #e1c4ff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.contact-info {
    max-width: 400px;
}

.contact-info p {
    margin-bottom: 10px;
    line-height: 1.8;
}

@media (max-width: 768px) {
    nav ul li {
        display: block; /* Stack navigation items vertically on smaller screens */
        margin: 10px 0; /* Adjust margin for vertical layout */
    }

    section {
        margin: 10px; /* Reduce margins on smaller screens */
    }

    .grid-container {
        padding: 0 10px; /* Reduce padding on smaller screens */
    }
    
    .contact-info {
        max-width: 100%; /* Allow contact info to use full width on small screens */
    }
}
